
body{
    top:0px;
    left: 0px;
    background: linear-gradient(180deg, #7a90e8 3.10%, #7f6b77 50%);
    /* background-image: url(https://c8.alamy.com/comp/2B23YW6/gorgeous-cloudscape-in-springtime-weather-background-with-dynamic-cloud-arrangement-on-a-blue-sky-sunny-and-windy-day-good-weather-forecast-concept-2B23YW6.jpg);  */
    background-size: auto;
    /* background-repeat: no-repeat; */
    color: white;
    height: 100%;
    font-family: Inter;
}
.heading{
    margin-top: 5vh;
    text-align: center;
    font-weight: 800;
    font-size: 54px;
    margin-bottom: 5vh;
}
.divinput{
    /* border: 1px solid rgb(73, 53, 53); */
    padding-left: 0.5vw;
    justify-self: right;
    box-shadow:  0px -2px 10px rgb(15, 3, 34);
    border-radius: 5px;
}

input{
    width: 30vw;
    padding: 10px;
    margin: 5px;
    font-size: 17px;
    background-color: inherit;
    border: none;
    outline: none;
    color: white;
}
::placeholder {
    color: white; /* Change this color to your desired placeholder color */
}
.divsubmit{
    /* border: 1px solid white; */
    justify-self:start;
    box-shadow:  0px -2px 10px #1a053d;
    border-radius: 5px;
    
    background-color: #8549f4;
}
.divsubmit>button{
    padding: 13px 27px 10px 27px;
    
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;

}
.main-content{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    padding: 70px;
    flex-wrap: wrap;
    gap: 2vw;
    row-gap: 5vh;
}

.grid-item{
    /* border: 1px solid white; */
    padding: 10px;
    width:calc(33.33% - 50px);
    height: 100%;
}
@media (min-width:2255px) {
    .grid-item{
        /* border: 1px solid white; */
        padding: 10px;
        width:calc(25% - 70px);
        height: 100%;
    }
}
@media (max-width:1400px) {
    .grid-item{
        /* border: 1px solid white; */
        padding: 10px;
        width:calc(50% - 50px);
        height: 100%;
    }
}
@media (max-width:1100px) {
    .grid-item{
        /* border: 1px solid white; */
        padding: 10px;
        width:calc(100% - 50px);
        height: 100%;
    }
}
.grid-content{
    /* border:1px solid green; */
    background-image: url("Rectangle\ 1.svg");
    /* background: linear-gradient(to left,rgb(199, 141, 141),rgb(215, 215, 169)); */
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 5px ;


    /* background-position-y: 100%; */
}
.details{
    padding-top:0.2vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.8vh;
   
}
.high-low{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 18px;
    color:rgb(176, 172, 172);
    margin-left: 10px;
}
.cot-type{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    font-size: 24px;
    padding-top: 0px;
    padding-right: 15px;
    margin-left: 10px;
    
}
.dayType{
    /* padding-left: 8vw; */
}